<div class="title_box">
    <h1>Crear Productos</h1>
</div>

<div class="container">
    {{#if error}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {{/if}}

    <form action="" method="post">
        <div class="form-group input-group">
            <input id="nombre" name="nombre" class="form-control" placeholder="Nombre" type="text">
        </div>
        <div class="form-group input-group">
            <input id="precio" name="precio" class="form-control" placeholder="Precio" type="number">
        </div>
        <div class="form-group input-group">
            <input id="foto" name="foto" class="form-control" placeholder="Foto URL" type="text">
        </div>
        <div class="form-group input-group">
            <input id="descripcion" name="descripcion" class="form-control" placeholder="Descripcion" type="text">
        </div>
        <div class="form-group input-group">
            <input id="codigo" name="codigo" class="form-control" placeholder="Codigo" type="text">
        </div>
        <div class="form-group input-group">
            <input id="stock" name="stock" class="form-control" placeholder="Stock" type="number">
        </div>
        <div class="form-group input-group">
            <select class="custom-select" style="max-width: 120px;" id="categoria" name="categoria">
                {{#each categorias}}
                <option value="{{id}}">{{nombre}}</option>
                {{/each}}
            </select>
        </div>
        <button class="w-100 btn btn-lg btn-success" type="submit">Crear Producto</button>

    </form>

</div>